html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: regular;
}
#wrp{
    background-color: rgb(250, 250, 250);
    height: 200px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}
#head{
    
    background-color: aqua;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;

}
#but{
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 10px;
    border: 0px;
    height: 26.400px;
    background-color: aqua;
}
#but:hover{
    background-color: red;
    transition: 0.25s;
}

.formrgt{
    display: flex;
    margin: 8px;
    justify-content: center;
}
label{
    min-width: 200px;
}
#butrgt{
    background-color: aqua);
    border-radius: 10px;
    border-color: rgb(222, 222, 222);
}
#butrgt:hover{
    background-color: aqua;
    transition: 0.25s;
    cursor: pointer;
}